!/chemical_mod_loader/Replace IDs/help.txt
!/chemical_mod_loader/New IDs/help.txt
!/chemical_mod_loader/New IDs/_Objects
!/chemical_mod_loader/New IDs/_Peds
!/chemical_mod_loader/New IDs/_Vehicles
/chemical_mod_loader/Replace IDs/*
/chemical_mod_loader/New IDs/*
